*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  height: 100vh;

}

header{
  width: 1200px;
  padding: 30px 0;
  margin: auto;
  display: flex;
  justify-content: space-between;


}

ul{
  display: flex;
}

li{
  list-style-type: none;
  margin: 0 10px;
  color: blue;
}

li:hover{
  cursor: pointer;
}

main{
  margin: auto;
  width: 1200px;
  padding: 50px 0;

}
